
/*
===========
Variables 
===========
*/  
:root{
   --clrYellow: #ffc914;
   --clrGrey: #b5c2b7;
   --clrBlack: #2e282a;
   --clrBlue: #00a7e1;
   --clrCream: #eddea4;
   --clrWhite: #f5f3f5;
}
*{
  padding: 0;
  margin: 0;
  outline: none;
}
a{
  text-decoration: none;
}
body{
font-family: 'Roboto', sans-serif;
background: var(--clrWhite);
}
ul{
  list-style-type: none;
}
/*
===========
Navbar 
===========
*/

#nav ul {
  list-style-type: none;
  display: none;
}

#nav ul li:last-of-type {
  display: -webkit-box;
  display: flex;
  /*  justify-content: space-between;
  background: #2e282e;
  */
}

#nav ul li:last-of-type a {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  -moz-text-align-last: center;
       text-align-last: center;
}


#nav ul li a {
  text-decoration: none;
  display: block;
  color: var(--clrYellow);
  padding: 10px;
  background: var(--clrBlack);
  font-size: 20px;
  -webkit-transition: color 0.5s ease-in-out, background 0.6s ease;
  transition: color 0.5s ease-in-out, background 0.6s ease;
}

#nav ul li a:hover {
  color: var(--clrBlack);
  background: var(--clrYellow);
}

.nav-logo {
  background: var(--clrYellow);
  padding: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.nav-logo .fa {
  align-self: center;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

.new-nav {
  position: fixed;
  width: 100vw;
  z-index: 10!important;
}

@media screen and (min-width:768px) {
  #nav {
    border-top: 5px solid var(--clrYellow);
    display: -webkit-box;
    display: flex;
    background: var(--clrBlack);
  }
  #nav ul {
    display: -webkit-box!important;
    display: flex!important;
    -webkit-box-flex: 1;
            flex: 1 0 auto;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  #nav ul li {
    -webkit-box-flex: 1;
            flex: 1 0 100px;
  }
  #nav ul li a {
    border-radius: 5px;
    text-align: center;
  }


  #nav ul li:last-of-type,
  #toggle-btn {
    display: none;
  }
}
/*
===========
Header 
===========
*/
header{
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#banner{
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.3)),to(rgba(0,0,0,0.3))), 
  url(./images/background-banner.jpg);
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), 
  url(./images/background-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}
.banner-text h1{
  text-transform: uppercase;
  color: var(--clrYellow);
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  }

  .banner-text h3{
    text-transform: capitalize;
    font-size: 30px;
    margin: 10px 0;
    color: var(--clrGrey);
  }

  .banner-text a{
    display: inline-block;
    margin: 10px;
    text-transform: capitalize;
    font-size: 25px;
    padding: 10px;
    color: var(--clrYellow);
    border: 3px solid var(--clrYellow);
    border-radius: 10px;
    background: transparent;
    -webkit-transition: background 0.7s ease, color 0.5s ease ;
    transition: background 0.7s ease, color 0.5s ease ;
  }

  .banner-text a:hover{
    background: var(--clrYellow);
    color: var(--clrBlack);
  }
/*
===========
Icon Section 
===========
*/

#icon-section{
  height: 70px;
  background: var(--clrBlack);
  text-align: center;
  -webkit-clip-path: polygon(0 0,100% 0, 100% 100%, 0% 60%  );
          clip-path: polygon(0 0,100% 0, 100% 100%, 0% 60%  );
  padding: 20px 0 40px 0;
}

#icon-section a{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 30px;
  color: var(--clrYellow);
  border: 2px solid var(--clrYellow);
  border-radius: 10%;
  background: rgba(0,0,0,0.5);
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease;
}

#icon-section a:hover{
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: var(--clrCream);
}
/*
===========
Skills Icons
===========
*/
.title{
  display: -webkit-box;
  display: flex;
  padding: 20px;
}

.title-icon .fa{
font-size: 60px;
color: var(--clrYellow);
margin-right: 10px;
}

.title-text{
  padding-left: 10px;
  border-left: 3px solid var(--clrBlue);
  text-transform: uppercase;
}

.title-heading{
  color: var(--clrBlack);
}
.title-subheading{
  padding: 5px;
  text-transform:capitalize ;
  color: var(--clrGrey);
}
/*
===========
Skills Center 
===========
*/
#skills .title{
  margin-top: -20px;
}
.skills-center{
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px 0;
}
  

.skill{
  margin: 40px 0;

}
.skill .fa{
  font-size: 60px;
  color: var(--clrBlue);
  background: var(--clrYellow);
  padding: 60px;
  -webkit-transition: color 0.5s ease, background 0.5s ease;
  transition: color 0.5s ease, background 0.5s ease;
}
.skill .fa:hover{
  background: var(--clrBlack);
  color: var(--clrYellow);
}
.skill h3{
  text-transform: uppercase;
  margin: 20px 0;
}

.skill p{
  line-height: 1.5;
  width: 70%;
  color: var(--clrGrey);
}

.fa-apple{
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
          clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.fa-google{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}
.fa-android{
  -webkit-clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
          clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}
.fa-gear{
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@media screen and (min-width:568px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
  .skill {
    text-align: center;
  }
  .skill p {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (min-width:992px) {
  .skills-center {
    grid-template-columns: repeat(4, 1fr);
  }
  .skill p {
    width: 100%;
  }
}

@media screen and (max-width:568px) {
  .skills-center {
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
           align-items: center;
   -webkit-box-pack: center;
           justify-content: center;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
           flex-direction: row;
   flex-wrap: wrap;
   flex-flow: row wrap;
   align-content: flex-end;
}
.skill {
    text-align: center;
}
  .skill p {
    margin: 0 auto;
    width: 80%;
}
}
/*
===========
Form (email) 
===========
*/
.form{
  min-height: 60vh;
  background:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.5))), url(./images/background-filler-1.jpg);
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/background-filler-1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;

}

.form .title{
  text-align: center;
  color: var(--clrWhite);
  margin: 0 0 30px 0;
  font-size: 40px;
  text-transform: uppercase;
  -webkit-box-pack: center;
          justify-content: center;
}

#email{
  border: none;
  background: transparent;
  border-bottom: 3px solid var(--clrWhite);
  font-size: 25px;
  margin: 5px 20px;
}

#email::-webkit-input-placeholder{
  color: var(--clrWhite);
  text-transform: capitalize;
}

#email::-moz-placeholder{
  color: var(--clrWhite);
  text-transform: capitalize;
}

#email:-ms-input-placeholder{
  color: var(--clrWhite);
  text-transform: capitalize;
}

#email::-ms-input-placeholder{
  color: var(--clrWhite);
  text-transform: capitalize;
}

#email::placeholder{
  color: var(--clrWhite);
  text-transform: capitalize;
}

.submit-btn{
  display: inline-block;
  background: transparent;
  border: 3px solid var(--clrWhite);
  padding: 5px 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--clrYellow);
  margin: 5px 20px;
  -webkit-transition: color 0.5s ease, background 500ms ease, border 500ms ease;
  transition: color 0.5s ease, background 500ms ease, border 500ms ease;
}

.submit-btn:hover{
  color: var(--clrWhite);
  background: var(--clrYellow);
  border-color: var(--clrYellow);
}
form{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
/*
===========
Work (isotope) 
===========
*/
.work .title{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  margin-top: -20px;
}

.work .title-icon .fa{
margin-right: 0;
margin-left: 10px;
}

.work .title-text{
  padding-left: 0;
  padding-right: 10px;
  border-right: 3px solid var(--clrBlue);
  border-left: none;
}

.work-center{
  padding: 40px 0;
  max-width: 90%;
  margin: 0 auto;
}

.work img{
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--clrYellow);
}

.button-group{
  padding: 0 0 40px 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.button-group button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 25px;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--clrWhite);
  background: var(--clrBlue);
}

.picture-item{
 width: calc(50% - 20px);
 margin: 10px; 
}

@media screen and (min-width:992px){
  .picture-item{
    width: calc(25% - 20px);
  }
}
/*
===========
About  
===========
*/
.about{
  min-height: 90vh;
  padding: 40px 0;
  background:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.4)),to(rgba(0, 0, 0, 0.4))), url(./images/current-projects-1.jpeg) center/cover no-repeat fixed;
  background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./images/current-projects-1.jpeg) center/cover no-repeat fixed;
  -webkit-clip-path: polygon(0 0,100% 5%,100% 100%,0 95%);
          clip-path: polygon(0 0,100% 5%,100% 100%,0 95%);
}

.about-photo img{
  width: 100%;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  border: 3px solid var(--clrYellow);
}

.about .title-heading{
  color: var(--clrWhite);
  margin-left: 5px;
}

.about-center{
  max-width: 90vw;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.about-photo img:hover{
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.about-photo, 
.about-text{
  margin: 40px 0;
}

.ui-accordion-header{
padding: 20px!important;
text-align: center;
background: var(--clrBlue) !important;
color: var(--clrWhite) !important;
text-transform: capitalize;
font-size: 20px;
margin: 5px 0 !important;
border: 3px solid var(--clrYellow) !important;
border-radius: 10px !important;
}

.ui-accordion, 
.ui-accordion-content{
background: -webkit-gradient(linear, 
left top, left bottom, 
from(rgba(22, 170, 196, 0.3)), 
to(rgba(0, 0, 50, 0.3))) !important;
background: linear-gradient(rgba(22, 170, 196, 0.3), 
rgba(0, 0, 50, 0.3)) !important;
color: var(--clrWhite) !important;
border: var(--clrYellow) !important;
border-radius: 10px;
}

.accordion-text{
  font-size: 15px !important;
}

@media screen and (min-width:776px){
  .about-center{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    align-content: center;
  }
  .about-text,
  .about-photo{
    -webkit-box-flex: 0;
            flex: 0 0 calc(50% - 1em);
  }
  .about-text{
    align-self: center;
  }
}
/*
===========
Current Section  
===========
*/

.current .title{
  margin: 40px 0;
}

.current-item{
  background: -webkit-gradient(linear,left top, left bottom,from(rgb(255,201,20)),to(rgb(255,201,50)));
  background: linear-gradient(rgb(255,201,20),rgb(255,201,50));
}

.current-item img{
  display: block;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.current-item img:hover{
opacity: 0.5;
}

@media screen and (min-width:576px){
  .current-center{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  }
  .current-item{
    -webkit-box-flex: 0;
            flex: 0 0 50%;
  }
}

@media screen and (min-width:992px) {
  .current-item {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
  }
}
/*
===========
Numbers  
===========
*/

.number{
  text-align: center;
  background: var(--clrBlack);
  padding: 40px 0;
  color: #eddea4;
  -webkit-transition: background 500ms ease, color 500ms ease;
  transition: background 500ms ease, color 500ms ease;
}

.number:hover{
  background: var(--clrYellow);
  color: var(--clrBlack);
}

.number .fa{
  font-size: 60px;

}

.numscroller{
  font-size: 25px;
  margin: 20px 0;
}

.number h3{
  text-transform: uppercase;
}

@media screen and (min-width:576px){
  .numbers{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
  }
  .number{
    -webkit-box-flex: 0;
            flex: 0 0 25%;
  }
}
/*
===========
Team  
===========
*/

.team-member img{
  width: 100px;
  border-radius: 50%;
  margin-top: -35px;
}

.team{
  padding: 40px 0;
  background: var(--clrGrey);
}

.team .title-subheading{
  color: var(--clrBlue);
}

.team .title-text{
  border-left: 3px solid var(--clrBlue);
}

.team-member{
text-align: center;
border: 1px solid var(--clrBlack);
border-radius: 20px;
background: var(--clrWhite);
-webkit-transition: background 1s ease;
transition: background 1s ease;
margin: 70px 0;
}

.team-member:hover{
  background: var(--clrBlue);
}

.team-center{
  max-width: 90vw;
  margin: 0 auto;
  padding: 40px 0;
}

.team-member h2{
  text-transform: capitalize;
}

.team-member h5{
  margin: 10px 0;
  text-transform: uppercase;
}

.team-member hr{
  width: 70%;
  margin: 0 auto;
  border: 1px solid var(--clrYellow);
}


.team-member p{
  line-height: 2;
  margin: 10px;
}

.team-member-footer{
  padding: 20px 0;
  background: var(--clrBlack);
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.team-member-footer .fa{
  font-size: 30px;
  color: var(--clrYellow);
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  padding: 10px;
}

.team-member-footer .fa:hover{
  color: var(--clrBlue);
}

@media screen and (min-width:576px){
  .team-center{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .team-member{
    -webkit-box-flex: 0;
            flex: 0 0 calc(50% - 1em);
  }
}

@media screen and (min-width:992px) {
 .team-member {
    -webkit-box-flex: 0;
            flex: 0 0 calc(25% - 1em);
  }
}

/*
===========
Prices  
===========
*/

.pricing{
  padding: 40px 0;
  background: var(--clrBlack);
}

.pricing .title-heading{
color: var(--clrYellow);
}

.pricing-center{
  max-width: 90%;
  margin: 0 auto;
}

.pricing-card{
  text-align: center;
  color: var(--clrWhite);
  padding: 30px 0;
  margin: 30px 0;
}

.pricing ul{
  list-style-type: none;
}

.pricing-card ul li{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.pricing-card h3{
  color: var(--clrBlue);
  text-transform: capitalize;
  font-size: 40px;
}

.pricing-card h1{
  margin: 40px 0;
  font-size: 60px;
}

.price-list .fa{
  font-size: 25px;
  margin-right: 10px;
}

.pricing-card a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid var(--clrWhite);
  color: var(--clrWhite);
  border-radius: 20px;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

.pricing-card a:hover{
  color: black;
  background: var(--clrBlue);
  border-color: var(--clrBlue);
}

.custom{
  background: var(--clrWhite);
  color: black;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.custom:hover{
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.custom a{
  color: var(--clrYellow);
  border-color:var(--clrYellow) ;
}

.custom a:hover{
  background: var(--clrYellow);
  border-color: var(--clrYellow);
  color: var(--clrWhite);
}

@media screen and (min-width:768px){
  .pricing-center{
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap ;
  }
  .pricing-card{
    -webkit-box-flex: 0;
            flex: 0 0 calc(33.33% - 1em);
  }
}

/*
===========
Quotes  
===========
*/
.quotes{
  padding: 40px 0;
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))),
  url(./images/quotes-background.jpeg) center/cover fixed no-repeat;
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url(./images/quotes-background.jpeg) center/cover fixed no-repeat;
}

.quotes .title-heading{
  color: var(--clrYellow);
}

.quote{
  text-align: center;
  color: var(--clrWhite);
  padding: 20px 0;
  margin: 20px 0;
}

.quote img{
  width: 150px!important;
  margin: 0 auto;
  border-radius: 50%;
}

.quote .fa{
  font-size: 35px;
  margin-right:5px;
  color: var(--clrYellow);
}

.quote p{
  line-height: 1.5;
  width: 80%;
  margin: 10px auto;
}
/*
===========
Footer 
===========
*/
.footer{
  padding: 40px 0;
  min-height: 60vh;
  background: var(--clrBlue);
}

.info-center,
iframe{
  width: 90%;
  margin: 40px auto;
}

iframe{
  display: block;
  border-radius: 20px;
}

.info-item{
  display: -webkit-box;
  display: flex;
  margin: 10px 0;
  -webkit-box-align: center;
          align-items: center;
}

.info-item .fa{
  font-size: 30px;
  color: var(--clrYellow);
  padding: 10px;
  background: var(--clrBlack);
  border-radius: 10px;
  margin-right: 15px;
  ;
}

@media screen and (min-width:768px){
  .footer{
    display: -webkit-box;
    display: flex;
  }
  .footer-info,
  .footer-map{
    -webkit-box-flex: 0;
            flex: 0 0 50%;
  }
  .footer-info{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }

}